.blue {
    background-color: #99c2ff;
    height: 150px;
    width: 350px;
    margin-top: 50px;
    
}
.green {
    background-color: greenyellow;
    height: 250px;
    width: 550px;
    margin-top: 50px;
}
